@import 'variables';

// Home banner and filters
.banner {
	display: inline-block;
	padding: 0 10%;

	img {
		float: right;
		transition: width .3s ease;
		width: 55%;
	}

	&_info {
		margin-top: 90px;
		display: inline-block;
		transition: all .3s ease;
		width: 40%;

		span {
			font-weight: 500;
		}

		h1 {
			color: $dark;
			font-size: 75px;
			font-weight: 500;
			line-height: 70px;
			margin: 10px 0 45px;
			transition: all .3s ease;
		}
	}

	&_filters {
		display: inline-block;
		margin-top: 60px;

		a {
			background: #fb7e2c url('/images/filtro_cachorro.png') no-repeat 30px center;
			background-size: 25px;
			padding: 12px 45px 14px 66px;

			+ a {
				background-image: url('/images/filtro_gato.png');
				margin-left: 30px;
			}

			img {
				display: block;
				height: 30px;
				width: auto;

			}
		}
	}

	@media (max-width: 1200px) {
		img {
			width: 40%;
		}

		&_info {
			margin-top: 0;

			h1 {
				font-size: 35px;
				line-height: 32px;
			}
		}
	}

	@media (max-width: 860px) {
		img {
			display: block;
			float: none;
			margin: 0 auto;
		}

		&_info {
			width: 100%;

			h1 {
				margin-bottom: 15px;

				br {
					display: none;
				}
			}
		}

		&_filters {
			left: 50%;
			margin-top: 45px;
			position: relative;
			transform: translateX(-50%);

			a + a {
				margin-left: 15px;
			}
		}
	}
}

// Pet list
.list {
	h2 {
		font-weight: 400;
		margin-top: 90px;
		padding-bottom: 30px;
		text-align: center;;
	}

	article {
		border-radius: 15px;
		box-shadow: 0 5px 15px 0 rgb(0 0 0 / 25%);
		margin-bottom: 30px;
		display: inline-block;
		padding: 15px;
		position: relative;
		width: calc(50% - 60px);

		&:after {
			background: no-repeat 95% center;
			background-size: 45%;
			content: '';
			height: 100%;
			left: 0;
			opacity: .1;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&:nth-of-type(2n+2) {
			margin-left: 30px;
		}

		> img {
			border-radius: 15px;
			float: left;
			width: 175px;
		}

		div {
			float: left;
			line-height: 32px;
			margin-left: 30px;
			padding: 5px 0;
			width: calc(100% - 205px);

			img {
				float: right;
				opacity: .7;
				margin: 5px 10px 0 0;
				transition: all .3s ease;
				width: 25px;
			}

			h1 {
				color: $dark;
				font-size: 35px;
				font-weight: 500;
			}

			small {
				margin-left: 1px;
			}

			p {
				line-height: 22px;
				margin-top: 30px;
			}
		}

		&.list_dog {
			&:after {
				background-image: url('/images/filtro_cachorro.png');
			}
		}

		&.list_cat {
			&:after {
				background-image: url('/images/gato_1.png');
			}
		}
	}

	@media (max-width: 980px) {
		article {
			margin-bottom: 15px;
			transition: all .3s ease;
			width: calc(100% - 30px);

			&:nth-of-type(2n+2) {
				margin-left: 0;
			}
		}
	}
}
