@import 'variables';

// Pet page
.highlight {
	background: url('/images/bg_highlight.png') no-repeat 90% center;
	background-size: contain;
	display: inline-block;
	padding: 60px 10%;

	> img {
		float: right;
		max-width: 45%;
	}

	div {
		margin-top: 3%;
		display: inline-block;
		width: 40%;

		img {
			float: right;
			margin-top: 30px;
			width: 25px;
		}

		h1 {
			color: $dark;
			font-size: 75px;
			font-weight: 500;
			line-height: 70px;
		}

		small {
			display: block;
			margin-bottom: 30px;
		}

		> a {
			display: inline-block;
    		margin-top: 60px;
    		padding: 15px 50px;
		}
	}

	@media (max-width: 1000px) {
		background-position: center -50%;

		> img {
			display: block;
			float: none;
			margin: 0 auto;
			max-width: 75%;
		}

		div {
			margin-top: 30px;
			width: 100%;

			> a {
				margin-top: 30px;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.bt_back {
	background-color: #aaa;
	display: inline-block;
	left: 50%;
	margin-top: 150px;
	position: relative;
	transform: translateX(-50%);

	@media (max-width: 1000px) {
		margin-top: 60px;
	}
}
